/* geral */
* {
  margin: 0;
  padding: 0;
}

body, h1, p, span {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

body {
  background-color: #0f1722;
}

h1 {
  text-align: center;
  margin: 30px 0;
}

/* calculator */
#calculator {
  background-color: #1d293a;

  width: 400px;
  height: 400px;

  margin: auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

#screen-container {
  box-sizing: border-box;
  
  width: 258px;
  height: 70px;

  border: 1px solid #354357;

  margin: auto;
  margin-bottom: 30px;
  padding: 10px;

  text-align: right;
  overflow: hidden;
  whitespace: nowrap;
}

#upper-number,
#result-number {
  float: right;
}

#result-number {
  margin-top: 5px;

  font-weight: bold;
  font-size: 22px;

  clear: both; // limpando o float
}
